{% extends '_layouts/base.njk' %}
  {%block page_title%}{{members.name}}{%endblock%}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 info">

      <img class = "img-fluid" src="assets/img/members/{{members.image}}" alt= "{{members.name}}"/>
      <h3>{{members.name}}</h3>
      <dl>
        <dt>Instrument:</dt>
        <dd>{{members.instruments}}</dd>

        <dt>Birthdate:</dt>
        <dd>{{members.birthdate}}</dd>

        <dt>Birthplace:</dt>
        <dd>{{members.birthplace}}</dd>

        <dt>Queen Tenure:</dt>
        <dd>{{members.tenure}}</dd>


        
    </div>
    
    <div class="col-sm-6 col-md-8 biography">
     <h1> {{members.name}}</h1>
      {{members.text| safe}}


    </div>
  </div>
</article>
{% endblock %}
