.card {
    margin-bottom: 16px;
    width: 16rem;
    margin-right: 20px;
    background-color: gray;


    p, h5 {
        color: black;
    }

}


a:hover {
    text-decoration:underline;
    color: blue;
}