.card {
    margin-bottom: 40px;
    width: 16rem;
    margin-right: 20px;
    background-color: white;
    height: 500px;


    p, h5 {
        color: black;
    }
    
    a:hover {
        text-decoration:underline;
        color: black;
    }

}