// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: #8795ac;
$body-color: white;
$link-hover-color: grey;
$primary-color: navy;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "album";
@import "member";
@import "footer";
@import "detail";

p, dt, dd {
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1, h2, h3, h4, nav{
    font-family: 'Bungee', cursive;
}

h1, h2, h3, h4, {
    -webkit-text-stroke: 2px black;
}


